*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.left-box{
    width: 17%;
    background-color: #202123;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px 7px;
}