*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.left-box{
    width: 17%;
    background-color: #202123;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px 7px;
}
.right-box{
    width: 83%;
    margin-left: 17%;
    margin-top: 40px;
}
.right-box i{
    font-size: 27px;
}
.right-box .text-box{
    width: 32%;
    margin: 0px auto; 
    text-align: center;
    background-color: rgba(218, 215, 215, 0.5);
    padding: 10px 3px;
    border-radius: 10px;
}
.right-box .ex-box{
    cursor: pointer;
    transition: 0.5s ease;
}
.right-box .ex-box:hover{
    background-color: #d9d9e3;
}
.right-box .icon-area i{
    position: absolute;
    right: 20px;
    top: 6px;
    cursor: pointer;
}
small{
    text-align: center;
    font-size: 12px;
}
.answer-box .icon-area small{
    padding: 9px;
    font-size: 21px;
    font-weight: bold;
    background-color: #E15CDF;
    color: #fff;
    border-radius: 10px;
}
.answer-box span{
    font-size: 16px;
    font-weight: bold;
}