*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.sumbit-btn .btn{
    color: #fff !important;
    background-color: #12ac83 !important;
    text-decoration: none !important;
    box-shadow: none !important;
}
.Audiowide{
    font-family: "Audiowide", sans-serif;
}